/* ========= */
/* ====== Hotel CSS ====== */
* { outline: none !important; }
body { background-color: #fff !important}
section {
    padding: 30px 0;
}
table {
    margin-bottom: 0;
}
.panel-default {
    border: 2px solid #ddd;
    padding: 20px 30px;
}
.text-orange { color: #f69336 }
.bg-orange { background-color: #f69336; color: #fff; font-weight: bold; border-radius: 0; }
.text-blue { color:#28a1e6; }
.bg-blue { background-color:#28a1e6; color: #fff }

/* Blue Bar */
#search-box, #search-box a {
    font-size: 12px;
    color: #fff;
    padding: 20px 0;
    background-color: #28a1e6;
}
#search-box .col-md-8.side-left ul li:first-child {
    border-right: 3px solid #fff;
    padding-right: 20px;
}
#search-box .col-md-8.side-left ul li:last-child {
    padding-left: 20px;
}
#search-box .col-md-4.side-right a {
    font-weight: bold;
    font-size: 20px;
    float: right;
    top: 30px;
    position: relative;
}
#search-box .accordion .panel-body {
    padding: 0;
    padding-top: 20px;
}
#search-box .accordion .panel-body .opsi li:first-child {
    padding-right: 25px;
}
#search-box .accordion .panel-body .radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default radio button */
#search-box .accordion .panel-body  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
/* Create a custom radio button */
#search-box .accordion .panel-body .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
}
  
/* On mouse-over, add a grey background color */
#search-box .accordion .panel-body .radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* When the radio button is checked, add a blue background */
#search-box .accordion .panel-body .radio-container input:checked ~ .checkmark {
    background-color: #fff;
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */
#search-box .accordion .panel-body .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the indicator (dot/circle) when checked */
#search-box .accordion .panel-body .radio-container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the indicator (dot/circle) */
#search-box .accordion .panel-body .radio-container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff9600;
}
#search-box .accordion .panel-body .col-md-12 {
    padding: 0;
    padding-bottom: 15px;
}
#search-box .accordion .panel-body .col-md-12 input,
#search-box .accordion .panel-body .col-md-12 select {
    border-radius: 0;
}
#search-box .accordion .panel-body .destinasi label {
    font-size: 20px;
}
#search-box .accordion .panel-body .destinasi .input-group-addon {
    background-color: #fff;
    border-right: none;
}
#search-box .accordion .panel-body .destinasi .input-group-addon i {
    font-size: 18px;
}
#search-box .accordion .panel-body .destinasi input.form-control {
    font-size: 18px;
    padding: 10px 5px;
    border-left: none;
}
#search-box .accordion .panel-body .destinasi input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #333;
}
#search-box .accordion .panel-body .destinasi input::-moz-placeholder { /* Firefox 19+ */
    color: #333;
}
#search-box .accordion .panel-body .destinasi input:-ms-input-placeholder { /* IE 10+ */
    color: #333;
}
#search-box .accordion .panel-body .destinasi input:-moz-placeholder { /* Firefox 18- */
    color: #333;
}
#search-box .accordion .panel-body .destinasi .glyphicon {
    font-size: 30px;
    color: orange;
    left: 15px;
    top: 35px;
    position: relative;
}
#search-box .accordion .panel-body .form-penumpang label {
    font-size: 16px;
}
#search-box .accordion .panel-body .form-penumpang .input-group-addon {
    color: #fff;
    border: none;
    background: transparent;
}
#search-box .accordion .panel-body .form-penumpang .input-group-addon i {
    font-size: 20px;
}
#search-box .accordion .panel-body div.col-md-12:last-child button {
    padding: 6px 30px;
}

/* Filter */
.filter-hr {
    border-top: 5px solid #2574a9;
    margin: 0;
    width: 10%;
    float: right;
    bottom: 5px;
    position: relative;
}
.destinasi-perjalanan .formFilter {
    padding: 0 0 15px 0;
    margin: 20px 0 0;
    border-bottom: 1px solid #ddd;
    user-select: none;
}
.destinasi-perjalanan .formFilter .column.text {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.destinasi-perjalanan .formFilter .column {
    display: inline-block;
    margin: 0 0 0 55px;
    position: relative;
}
.destinasi-perjalanan .formFilter .column span, 
.destinasi-perjalanan .formFilter .column span i {
    cursor: pointer;
}
.destinasi-perjalanan .formFilter .column span i {
    color: #2574a9;
}
.destinasi-perjalanan .formFilter .column .dropdown-menu {
    background: #fff;
    border: 1px solid #2574a9;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    left: 0 !important;
    right: auto !important;
    margin: 5px 0 0;
    overflow: hidden;
    padding: 10px;
    min-width: 250px !important;
}
.destinasi-perjalanan .formFilter .column .dropdown-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.destinasi-perjalanan .formFilter .column .dropdown-menu li {
    padding: 0 0 2px;
    margin: 0 0 2px;
    list-style: none;
    position: relative;
}
.destinasi-perjalanan .formFilter .column .dropdown-menu li i {
    position: absolute;
    left: 0;
    top: 4px;
    z-index: 1;
    font-size: 16px;
    color: #3f96ff;
}
.destinasi-perjalanan .formFilter .column .dropdown-menu li input[type="checkbox"] {
    display: none;
}
.destinasi-perjalanan .formFilter .column .dropdown-menu li label {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;
    z-index: 9;
    position: relative;
    cursor: pointer;
}

/* Filter */
.result .searchFilter {
    margin: 15px 0px;
}
.result .searchFilter ul {
    padding-left: 50px;
}
.result .searchFilter ul li {
    cursor: pointer;
    user-select: none;
}
.result .searchFilter ul li i {
    color: #777;
}
.result .searchFilter ul li.col {
    width: 10% !important;
}
.result .searchFilter ul li.col.text {
    margin: 0;
    width: 25% !important;
}
.result .searchFilter ul li.col.limit {
    margin-left: 10%;
    width: 11% !important;
}

/* Destinasi Perjalanan */
#destinasi-perjalanan .destinasi-perjalanan .list-perjalanan li {
    margin-bottom: 30px;
}
#destinasi-perjalanan .destinasi-perjalanan .list-perjalanan ul li {
    margin: 0;
}
#destinasi-perjalanan .destinasi-perjalanan div.col-md-3:last-child h4 {
    margin: 0;
    padding-bottom: 10px;
}
#destinasi-perjalanan a {
    color: #28a1e6;
}

/* Detail Tiket */
.detail-tiket .panel-body {
    padding: 0;
    padding-top: 15px;
}
.detail-tiket .panel-body div ul li {
    margin: 0 !important;
}
.detail-tiket hr {
    margin-top: 0;
}
.detail-tiket hr.custom {
    position: relative;
    border-top: 5px solid #28a1e6;
    bottom: 25px;
    width: 15%;
    left: 0;
    margin: 0;
    padding: 0;
}

/* Modal Rincian Penerbangan */
.rincian-perjalanan .modal-body .well {
    border: none;
    box-shadow: none;
    margin: 0 !important;
    background-color: transparent;
}
.rincian-perjalanan div.modal-content {
    padding: 0 30px;
    border-radius: 0;
    user-select: none;
}
.rincian-perjalanan div.modal-content .modal-header {
    padding: 15px 0;
}
.rincian-perjalanan div.modal-content .modal-header h4 {
    color: #03A9F4;
    font-weight: bold;
}
.rincian-perjalanan div.modal-content .modal-header .close {
    display: none;
}
.rincian-perjalanan div.modal-content hr {
    border-top: 5px solid #03A9F4;
    width: 50px;
    position: absolute;
    top: 30px;
    right: 20px;
}
.rincian-perjalanan div.modal-content .modal-body {
    padding-bottom: 0;
}
.rincian-perjalanan div.modal-content .modal-body div.col-md-12 .panel-default .col-md-4 ul,
.rincian-perjalanan div.modal-content .modal-body div.col-md-12 .panel-default .col-md-4 ul li {
    text-align: left;
}
.rincian-perjalanan div.modal-content .modal-body div.col-md-12 .panel-default {
    margin: 0;
    padding: 10px;
    padding-bottom: 0;
    border: 1px solid #ddd;
}
.rincian-perjalanan div.modal-content .modal-body div.col-md-12:last-child .panel-default {
    margin-top: 15px;
    padding: 0;
}
.rincian-perjalanan div.modal-content .modal-body div.col-md-12 .panel-default.panel-jumlah table {
    margin-bottom: 0;
}
.rincian-perjalanan div.modal-content .modal-body div.col-md-12,
.rincian-perjalanan div.modal-content .modal-body div.col-md-12 .col-md-4 {
    padding: 0 5px;
    margin: 0;
}
.rincian-perjalanan div.modal-content .modal-body div.col-md-12 .col-md-4 img {
    width: 80%;
}
.rincian-perjalanan div.modal-content .modal-body div.col-md-12 .col-md-4 p {
    font-size: 12px;
    margin: 0;
}
.rincian-perjalanan div.modal-content .modal-body div.col-md-12 .col-md-4 .list-inline li {
    font-size: 12px;
}
.rincian-perjalanan div.modal-content .modal-body div.col-md-12 .panel-jumlah{
    padding: 0;
}
.rincian-perjalanan div.modal-content .modal-body div.col-md-12 .table>tbody>tr:first-child td {
    border-top: 0;
}
.rincian-perjalanan div.modal-content .modal-body div.col-md-12 .table>tbody>tr>td {
    font-size: 12px;
}
.rincian-perjalanan div.modal-content .modal-body div.col-md-12 .table>tbody>tr>td:last-child {
    text-align: center;
}
.rincian-perjalanan div.modal-content .modal-body div.col-md-12 .table>tbody>tr:last-child>td {
    border-top: 1px solid #ddd;
}
.rincian-perjalanan div.modal-content .modal-body div.col-md-12 div {
    padding: 1px;
    margin-top: 15px;
}


.rincian-perjalanan div.modal-content .modal-footer {
    text-align: center;
    border-top: 0;
}
.rincian-perjalanan div.modal-content .modal-footer button {
    border-radius: 0;
}