/* ========= */
/* ====== Hotel CSS ====== */
body { background-color: #fff !important}
section {
    padding: 30px 0;
}
.panel-default {
    border: 2px solid #ddd;
    padding: 20px 30px;
}
.bg-orange { background-color: #f69336; color: #fff; font-weight: bold; border-radius: 0; }
.bg-blue { background-color:#28a1e6; color: #fff }

/* Blue Bar */
#search-box, #search-box a {
    font-size: 12px;
    color: #fff;
    padding: 20px 0;
    background-color: #28a1e6;
}
#search-box .col-md-8.side-left ul li:first-child {
    border-right: 3px solid #fff;
    padding-right: 20px;
}
#search-box .col-md-8.side-left ul li:last-child {
    padding-left: 20px;
}
#search-box .col-md-4.side-right a {
    font-weight: bold;
    font-size: 20px;
    float: right;
    top: 30px;
    position: relative;
}
#search-box .accordion .panel-body {
    padding: 0;
    padding-top: 20px;
}
#search-box .accordion .panel-body .opsi li:first-child {
    padding-right: 25px;
}
#search-box .accordion .panel-body .radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default radio button */
#search-box .accordion .panel-body  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
/* Create a custom radio button */
#search-box .accordion .panel-body .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
}
  
/* On mouse-over, add a grey background color */
#search-box .accordion .panel-body .radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* When the radio button is checked, add a blue background */
#search-box .accordion .panel-body .radio-container input:checked ~ .checkmark {
    background-color: #fff;
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */
#search-box .accordion .panel-body .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the indicator (dot/circle) when checked */
#search-box .accordion .panel-body .radio-container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the indicator (dot/circle) */
#search-box .accordion .panel-body .radio-container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff9600;
}
#search-box .accordion .panel-body .col-md-12 {
    padding: 0;
    padding-bottom: 15px;
}
#search-box .accordion .panel-body .col-md-12 input,
#search-box .accordion .panel-body .col-md-12 select {
    border-radius: 0;
}
#search-box .accordion .panel-body .destinasi label {
    font-size: 20px;
}
#search-box .accordion .panel-body .destinasi .input-group-addon {
    background-color: #fff;
    border-right: none;
}
#search-box .accordion .panel-body .destinasi .input-group-addon i {
    font-size: 18px;
}
#search-box .accordion .panel-body .destinasi input.form-control {
    font-size: 18px;
    padding: 10px 5px;
    border-left: none;
}
#search-box .accordion .panel-body .destinasi .glyphicon {
    font-size: 30px;
    color: orange;
    left: 15px;
    top: 35px;
    position: relative;
}
#search-box .accordion .panel-body .form-penumpang label {
    font-size: 16px;
}
#search-box .accordion .panel-body .form-penumpang .input-group-addon {
    color: #fff;
    border: none;
    background: transparent;
}
#search-box .accordion .panel-body .form-penumpang .input-group-addon i {
    font-size: 20px;
}
#search-box .accordion .panel-body div.col-md-12:last-child button {
    padding: 6px 30px;
}

/* Destinasi Penerbangan */
#destinasi-penerbangan .list-destinasi li {
    margin-bottom: 30px;
}
#destinasi-penerbangan .detail-destinasi ul {
    text-align: center;
    margin-bottom: 15px;
}
#destinasi-penerbangan .detail-destinasi a {
    margin-left: 9%;
    color: #28a1e6;
}
#destinasi-penerbangan .detail-destinasi ul li {
    margin: 0;
    padding-right: 20px;
    text-align: left;
}
#destinasi-penerbangan .detail-destinasi ul li:first-child {
    width: 10%;
}
#destinasi-penerbangan .detail-destinasi ul li ul.list-unstyled li {
    width: auto;
}
#destinasi-penerbangan .detail-destinasi ul li:last-child ul.list-unstyled li {
    text-align: center;
}
#detail-tiket {
    width: 80%;
    margin-left: 7%;
}
#detail-tiket hr {
    margin-top: 0;
}
#detail-tiket hr.custom {
    position: relative;
    border-top: 5px solid #28a1e6;
    bottom: 25px;
    width: 20%;
    left: 0;
    margin: 0;
    padding: 0;
}
#detail-tiket .panel-body .col-md-3,
#detail-tiket .panel-body .col-md-6 {
    padding: 0;
}
#detail-tiket .panel-body ul,
#detail-tiket .panel-body ul li ul,
#detail-tiket .panel-body ul li ul.list-unstyled li {
    text-align: left !important;
}
#detail-tiket .panel-body .col-md-3 ul.list-inline li {
    width: 100%;
}
#detail-tiket .panel-body div.col-md-6 ul li {
    width: auto;
}
#detail-tiket .panel-body div.col-md-6 ul .time img {
    width: 18px;
    display: inline;
}
#detail-tiket .panel-body div.col-md-6 ul .time small {
    color: #777;
}
#detail-tiket .panel-body div.table-responsive table tbody tr td {
    font-size: 14px;
    padding: 0;
    padding-right: 10px;
    border: none;
}
#detail-tiket .panel-body div.table-responsive table tbody tr td:last-child {
    color: #777;
}