/* ========= Cek Kursi ========= */
body { background-color: #fff }
section { padding: 30px 0 }
input.form-control, select.form-control { border-radius: 0 }
input.form-control:focus, select.form-control:focus { border-color: #ddd }
h4 { font-size: 16px; margin: 0 }
.well {margin: 0; border: none; background-color: transparent; box-shadow: none }
.panel-default { border: 1px solid #ddd; background-color: #fff}
.text-orange { color: #f69336 }
.bg-orange { background-color: #f69336; color: #fff; font-weight: bold; border-radius: 0; }
.text-blue { color:#28a1e6; }
.bg-blue { background-color:#28a1e6 !important; color: #fff !important; border-radius: 0;}

/* Info */
#info h3 { font-weight: bold}
#info p { margin: 5px 0 }

/* Pilih Kursi */
#pilihkursi .panel-body .cek-kursi ul li.seat-label ul.list-unstyled {
    position: relative;
}
#pilihkursi .panel-body .cek-kursi ul li.seat-label ul.list-unstyled li {

}
#pilihkursi .panel-body .cek-kursi {
    width: 80%;
    margin: 20px;
    margin-left: 10%;
    padding: 10px 20px 30px;
    border: 1px solid #444;
    border-radius: 15px;
}
#pilihkursi .panel-body .cek-kursi ul li {
    line-height: 2;
    padding-right: 15px;
    user-select: none;
}
#pilihkursi .panel-body form.cek-kursi ul li p span{
    color: #555;
    position: relative;
    top: 10px;
    left: 5px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border: 1px solid #28a1e6;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 25px;
    height: 25px;
    background: #f69336;
    position: absolute;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Ket Kursi */
#pilihkursi .panel-body form.ket ul li {
    width: 13%;
}
#pilihkursi .panel-body form.ket ul li.checked .checkbox {
    background-color: #f69336;
    border: 1px solid #f69336;
}
#pilihkursi .panel-body form.ket ul li.disabled {
    width: 20%;
}
#pilihkursi .panel-body form.ket ul li.disabled span {
    left: 20px;
    background-color: #ddd;
    border: 1px solid #ddd;
}
#pilihkursi .panel-body form.ket ul li.availabox {
    width: 15%;
}
#pilihkursi .panel-body form.ket ul li span {
    margin: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    float: left;
    border: 1px solid #28a1e6;
    left: 10px;
    position: relative;
}

/* Detail Kursi */
#detailkursi .panel-body {
    text-align: center;
    padding: 20px 0;
}

/* Button */
button.btn.btn-warning {
    margin: 0 0 20px;
    padding: 7
}