/* ========= */
/* ====== Hotel CSS ====== */
section {
    padding: 30px 0;
}
.bg-orange { background-color: orange; color: #fff }
.bg-blue { background-color:#28a1e6; color: #fff }
.text-blue { color: #28a1e6 }

/* Blue Bar */
#search-box, #search-box a {
    font-size: 12px;
    color: #fff;
    padding: 20px 0;
    background-color: #28a1e6;
}
#search-box .col-md-8.side-left ul li:first-child {
    border-right: 3px solid #fff;
    padding-right: 20px;
}
#search-box .col-md-8.side-left ul li:last-child {
    padding-left: 20px;
}

/* Destinasi Penerbangan */
/* Blue Bar */
#destinasi-penerbangan .col-md-4 .destinasi {
    border: 1px solid #777;
}
#destinasi-penerbangan .col-md-4 .destinasi .box-destinasi {
    padding: 20px 30px;
}
#destinasi-penerbangan .col-md-4 .destinasi img {
    padding-bottom: 20px;
}
#destinasi-penerbangan .col-md-4 .destinasi .panel-footer {
    background-color: #e6e6e6;
}
#destinasi-penerbangan .col-md-4 .destinasi .panel-footer a {
    color: #28a1e6; 
}
#destinasi-penerbangan .col-md-4 .destinasi ul li.list.row div.box-destinasi ul li.pull-right h4 {
    color: #ff9600;
    font-weight: bold;
}
#destinasi-penerbangan .col-md-8 .blue-box.row,
#destinasi-penerbangan .col-md-4 .blue-box.row {
    margin-left: 0;
    margin-right: 0;
    padding: 25px 15px;
    padding-top: 10px;
}
#destinasi-penerbangan .col-md-8 .blue-box.row ul li h1,
#destinasi-penerbangan .col-md-4 .blue-box.row ul li h1 {
    font-size: 4em;
    padding: 10px 20px;
    border-right: 5px solid #fff;
}
#destinasi-penerbangan .col-md-8 .blue-box.row ul.desc-destinasi,
#destinasi-penerbangan .col-md-4 .blue-box.row ul.desc-destinasi {
    line-height: 2;
    padding-left: 10px;
    top: 15px;
    position: relative;
}
#destinasi-penerbangan .col-md-4 .blue-box.row ul.desc-destinasi {
    position: absolute;
    width: fit-content;
    top: 30px;
}
#destinasi-penerbangan .col-md-8 .blue-box.row ul.desc-destinasi ul.list-inline li.border-right {
    border-right: 3px solid #fff;
    padding-right: 10px;
}
#destinasi-penerbangan .col-md-8 .blue-box.row button {
    font-size: 14px;
    margin: 20px 40px;
    color: #fff;
    border-radius: 0;
    border: 2px solid #fff;
    background-color: transparent;
    top: 6%;
    right: 0;
    position: absolute;
}

/* List Destinasi */
#destinasi-penerbangan .col-md-8 .list-destinasi,
#destinasi-penerbangan .col-md-4 .list-destinasi {
    padding-top: 20px;
}
#destinasi-penerbangan .col-md-8 .list-destinasi .box-destinasi div.head,
#destinasi-penerbangan .col-md-4 .list-destinasi .box-destinasi div.head {
    padding-bottom: 20px;
}
#destinasi-penerbangan .col-md-8 .list-destinasi ul li.list.row,
#destinasi-penerbangan .col-md-4 .list-destinasi ul li.list.row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #777;
}
#destinasi-penerbangan .col-md-4 .list-destinasi ul li.list.row div.box-destinasi div div.col-md-5 {
    width: fit-content;
    padding: 0;
}
#destinasi-penerbangan .col-md-8 .list-destinasi ul li.list div div img,
#destinasi-penerbangan .col-md-4 .list-destinasi ul li.list div div img {
    text-align: center;
}
#destinasi-penerbangan .col-md-8 .list-destinasi ul li i.fa,
#destinasi-penerbangan .col-md-4 .list-destinasi ul li i.fa {
    color: green;
}
#destinasi-penerbangan .col-md-8 .list-destinasi ul li.list div h3,
#destinasi-penerbangan .col-md-4 .list-destinasi ul li.list div h3 {
    font-weight: bold;
    color: #ff9600;
    margin: 0;
    margin-bottom: 10px;
}
#destinasi-penerbangan .col-md-8 .list-destinasi ul li.list div button,
#destinasi-penerbangan .col-md-4 .list-destinasi ul li.list div button {
    border-radius: 0;
    background-color: orange;
}
#destinasi-penerbangan .col-md-8 .list-destinasi ul li a {
    padding-left: 15px
}
#destinasi-penerbangan .col-md-8 .list-destinasi ul li a,
#destinasi-penerbangan .col-md-4 .list-destinasi ul li a {
    color: #28a1e6;
}

/* Modal Popup */
#paymentDestinasi div.modal-content {
    padding: 0 30px;
    border-radius: 0;
    user-select: none;
}
#paymentDestinasi div.modal-content .modal-header {
    padding: 15px 0;
}
#paymentDestinasi div.modal-content .modal-header h4 {
    color: #03A9F4;
    font-weight: bold;
}
#paymentDestinasi div.modal-content .modal-header .close {
    display: none;
}
#paymentDestinasi div.modal-content hr {
    border-top: 5px solid #03A9F4;
    width: 50px;
    position: absolute;
    top: 30px;
    right: 20px;
}
#paymentDestinasi div.modal-content .modal-body {
    padding: 5px;
}
#paymentDestinasi div.modal-content .modal-body div.col-md-6 .panel-default {
    border: 1px solid #ddd;
    margin: 0;
    padding: 10px;
}
#paymentDestinasi div.modal-content .modal-body div.col-md-12,
#paymentDestinasi div.modal-content .modal-body div.col-md-6,
#paymentDestinasi div.modal-content .modal-body div.col-md-6 .col-md-4 {
    padding: 0 5px;
}
#paymentDestinasi div.modal-content .modal-body div.col-md-6 .col-md-4 img {
    width: 80%;
}
#paymentDestinasi div.modal-content .modal-body div.col-md-6 .col-md-4 p {
    font-size: 12px;
    margin: 0;
}
#paymentDestinasi div.modal-content .modal-body div.col-md-6 .col-md-4 .list-inline li {
    font-size: 12px;
}
#paymentDestinasi div.modal-content .modal-body div.col-md-6 .panel-jumlah{
    padding: 0;
}
#paymentDestinasi div.modal-content .modal-body div.col-md-6 .table {
    margin-bottom: 0;
}
#paymentDestinasi div.modal-content .modal-body div.col-md-6 .table>tbody>tr>td {
    border-top: 0;
    font-size: 12px;
}
#paymentDestinasi div.modal-content .modal-body div.col-md-6 .table>tbody>tr>td:last-child {
    text-align: center;
}
#paymentDestinasi div.modal-content .modal-body div.col-md-6 .table>tbody>tr:last-child>td {
    border-top: 1px solid #ddd;
}
#paymentDestinasi div.modal-content .modal-body div.col-md-12 div {
    padding: 1px;
    margin-top: 15px;
}


#paymentDestinasi div.modal-content .modal-footer {
    text-align: center;
    border-top: 0;
}
#paymentDestinasi div.modal-content .modal-footer button {
    border-radius: 0;
}