/* ========= */
/* ====== Hotel CSS ====== */
section {
    padding: 30px 0;
}
.bg-blue { background-color:#28a1e6; color: #fff }

/* Blue Bar */
#search-box, #search-box a {
    font-size: 12px;
    color: #fff;
    padding: 20px 0;
    background-color: #28a1e6;
}
#search-box .col-md-8.side-left ul li:first-child {
    border-right: 3px solid #fff;
    padding-right: 20px;
}
#search-box .col-md-8.side-left ul li:last-child {
    padding-left: 20px;
}

/* Destinasi Penerbangan */
/* Blue Bar */
#destinasi-penerbangan .col-md-8 .blue-box.row,
#destinasi-penerbangan .col-md-4 .blue-box.row {
    margin-left: 0;
    margin-right: 0;
    padding: 25px 15px;
    padding-top: 10px;
}
#destinasi-penerbangan .col-md-8 .blue-box.row ul li h1,
#destinasi-penerbangan .col-md-4 .blue-box.row ul li h1 {
    font-size: 4em;
    padding: 10px 20px;
    border-right: 5px solid #fff;
}
#destinasi-penerbangan .col-md-8 .blue-box.row ul.desc-destinasi,
#destinasi-penerbangan .col-md-4 .blue-box.row ul.desc-destinasi {
    line-height: 2;
    padding-left: 10px;
    top: 15px;
    position: relative;
}
#destinasi-penerbangan .col-md-4 .blue-box.row,
#destinasi-penerbangan .col-md-4 .list-destinasi {
    user-select: none;
    opacity: 0.2;
}
#destinasi-penerbangan .col-md-4 .blue-box.row ul.desc-destinasi {
    position: absolute;
    width: fit-content;
    top: 30px;
}
#destinasi-penerbangan .col-md-8 .blue-box.row ul.desc-destinasi ul.list-inline li.border-right,
#destinasi-penerbangan .col-md-4 .blue-box.row ul.desc-destinasi ul.list-inline li.border-right {
    border-right: 3px solid #fff;
    padding-right: 10px;
}
#destinasi-penerbangan .col-md-8 .blue-box.row button {
    font-size: 14px;
    margin: 20px 40px;
    color: #fff;
    border-radius: 0;
    border: 2px solid #fff;
    background-color: transparent;
    top: 6%;
    right: 0;
    position: absolute;
}

/* Filter */
.filter-hr {
    border-top: 5px solid #2574a9;
    margin: 0;
    width: 10%;
    float: right;
    bottom: 5px;
    position: relative;
}
 .formFilter {
    padding: 0 0 15px 0;
    margin: 20px 0 0;
    border-bottom: 1px solid #ddd;
    user-select: none;
}
 .formFilter .column.text {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
 .formFilter .column {
    display: inline-block;
    margin: 0 0 0 55px;
    position: relative;
}
 .formFilter .column span, 
 .formFilter .column span i {
    cursor: pointer;
}
 .formFilter .column span i {
    color: #2574a9;
}
 .formFilter .column .dropdown-menu {
    background: #fff;
    border: 1px solid #2574a9;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    left: 0 !important;
    right: auto !important;
    margin: 5px 0 0;
    overflow: hidden;
    padding: 10px;
    min-width: 250px !important;
}
 .formFilter .column .dropdown-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
 .formFilter .column .dropdown-menu li {
    padding: 0 0 2px;
    margin: 0 0 2px;
    list-style: none;
    position: relative;
}
 .formFilter .column .dropdown-menu li i {
    position: absolute;
    left: 0;
    top: 4px;
    z-index: 1;
    font-size: 16px;
    color: #3f96ff;
}
 .formFilter .column .dropdown-menu li input[type="checkbox"] {
    display: none;
}
 .formFilter .column .dropdown-menu li label {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;
    z-index: 9;
    position: relative;
    cursor: pointer;
}

/* Filter */
 .searchFilter {
    margin: 0 0 15px;
}
 .searchFilter ul {
    padding-left: 50px;
}
 .searchFilter ul li {
    cursor: pointer;
    user-select: none;
}
 .searchFilter ul li i {
    color: #777;
}
 .searchFilter ul li.col {
    width: 14% !important;
    margin-right: 4%;
}

/* List Destinasi */
#destinasi-penerbangan .col-md-8 .list-destinasi,
#destinasi-penerbangan .col-md-4 .list-destinasi {
    padding-top: 20px;
}
#destinasi-penerbangan .col-md-8 .list-destinasi .box-destinasi div.head,
#destinasi-penerbangan .col-md-4 .list-destinasi .box-destinasi div.head {
    padding-bottom: 20px;
}
#destinasi-penerbangan .col-md-8 .list-destinasi ul li.list.row,
#destinasi-penerbangan .col-md-4 .list-destinasi ul li.list.row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #777;
}
#destinasi-penerbangan .col-md-4 .list-destinasi ul li.list.row div.box-destinasi div div.col-md-5 {
    width: fit-content;
    padding: 0;
}
#destinasi-penerbangan .col-md-8 .list-destinasi ul li.list div div img,
#destinasi-penerbangan .col-md-4 .list-destinasi ul li.list div div img {
    text-align: center;
}
#destinasi-penerbangan .col-md-8 .list-destinasi ul li i.fa,
#destinasi-penerbangan .col-md-4 .list-destinasi ul li i.fa {
    color: #04a785;
}
#destinasi-penerbangan .col-md-8 .list-destinasi ul li.list div h3,
#destinasi-penerbangan .col-md-4 .list-destinasi ul li.list div h3 {
    font-weight: bold;
    color: #ff9600;
    margin: 0;
    margin-bottom: 10px;
}
#destinasi-penerbangan .col-md-8 .list-destinasi ul li.list div button,
#destinasi-penerbangan .col-md-4 .list-destinasi ul li.list div button {
    border-radius: 0;
    background-color: orange;
}
#destinasi-penerbangan .col-md-8 .list-destinasi ul li a {
    padding-left: 15px
}
#destinasi-penerbangan .col-md-8 .list-destinasi ul li a,
#destinasi-penerbangan .col-md-4 .list-destinasi ul li a {
    color: #28a1e6;
}
