/* ========= */
/* ====== Hotel CSS ====== */
section {
    padding: 30px 0;
}
.bg-blue { background-color:#28a1e6; color: #fff }
.main-panel {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 15px 20px;
}
.text-toska { color: #04a785 }
.bg-toska { background-color: #04a785 }
.text-blue { color: #28a1e6 }
.text-orange { color: #f69336 }
.bg-orange { background-color: #f69336; color: #fff; font-weight: bold; border-radius: 0; }
/* Blue Bar */

#blue-bar {
    font-size: 12px;
    color: #fff;
    padding: 20px 0;
    background-color: #28a1e6;
}
#blue-bar h3 {
    font-size: 30px;
    margin: 0 0 10px;
}
#blue-bar ul.star li i {
    font-size: 20px;
    color: yellow;
}
#blue-bar ul.star li p {
    font-size: 20px;
    margin: 0;
}
#blue-bar ul.address li:first-child {
    border-right: 3px solid #fff;
    margin-right: 5px;
    margin-top: 10px;
    padding-right: 15px;
}
#blue-bar ul.address li h5 {
    margin: 0;
}

/* Body */
#side-left .panel-default .text-center button {
    width: 100%;
    border-radius: 0;
}
#side-left .panel-default .lokasi {
    border: 1px solid #ddd;
}
#side-left .panel-default .lokasi div.panel-heading {
    border-radius: 0;
}
#side-left .panel-default .lokasi div.panel-body {
    padding: 0;
}
#side-left .panel-default .lokasi div.panel-body .mapouter,
#side-left .panel-default .lokasi div.panel-body .gmap_canvas,
#side-left .panel-default .lokasi div.panel-body iframe {
    height: 300px;
}
#side-left .panel-default .review {
    border: 2px solid #ddd;
    padding: 15px;
}
#side-left .panel-default .review hr {
    margin: 0;
    border-color: #ddd;
}
#side-left .panel-default .review hr.tail {
    border: 2px solid #337ab7;
    width: 30px;
    float: right;
    position: relative;
    bottom: 5px;
}

/* Rating Area */
#side-left .panel-default .review .rating-area img,
#side-left .panel-default .review .rating-area div {
    display: inline-block;
}
#side-left .panel-default .review .rating-area .rating-symbol-background {
    visibility: visible !important;
    font-size: 20px;
}
#side-left .panel-default .review .rating-area .rating-symbol-foreground {
    bottom: 3.2px;
    left: 3px !important;
}
#side-left .panel-default .review .rating-area .rating-symbol-foreground .fa {
    font-size: 12px;
}

/* Level Rating */
#side-left .panel-default .review .rating-level li .rating-symbol-background {
    visibility: visible !important;
    font-size: 20px;
}
#side-left .panel-default .review .rating-level li .rating-symbol-foreground {
    top: -2px;
    left: 4px !important;
}
#side-left .panel-default .review .rating-level li .rating-symbol-foreground .fa {
    font-size: 10px;
}
#side-left .panel-default .review .rating-level li div.progress {
    display: inline-block;
    width: 50%;
    margin: 0;
    margin-left: 10px;
    border-radius: 0;
}
#side-left .panel-default .review .rating-level li div.progress .progress-bar {
    background-color: #04a785;
}
#side-left .panel-default .review .rating-level li div.progress span {
    position: absolute;
    right: 12%;
    font-size: 12px;
}

/* Fasilitas */
#side-left .panel-default .review .fasilitas p {
    margin: 0;
    padding-top: 5px;
}
#side-left .panel-default .review .fasilitas li .rating-symbol-background {
    visibility: visible !important;
    font-size: 30px;
}
#side-left .panel-default .review .fasilitas li .rating-symbol-foreground {
    top: 5.5px;
    left: 5px !important;
}
#side-left .panel-default .review .fasilitas li .rating-symbol-foreground .fa {
    font-size: 18px;
}

/* Side Right */
#side-right .main-panel .row {
    margin: 0;
}

/* Panel Detail dari Hotel */
#side-right .main-panel.detail .nav-tabs>li.active>a, 
#side-right .main-panel.detail .nav-tabs>li.active>a:focus, 
#side-right .main-panel.detail .nav-tabs>li.active>a:hover,
#side-right .main-panel.detail .nav-tabs li a:hover {
    color: #337ab7;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 3px solid #337ab7;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
#side-right .main-panel.detail .tab-content {
    padding: 15px 5px;
}
#side-right .main-panel .tab-pane h4 span.fa {
    font-size: 20px;
    color: #337ab7;
    padding-right: 10px;
}
#side-right .main-panel #fasilitas ul {
    padding-left: 30px;
    list-style:none;
}
#side-right .main-panel #fasilitas ul li {
    font-weight: 100;
    line-height: 2;
}
#side-right .main-panel #fasilitas ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #337ab7; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */ 
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/* Panel Info Pemesanan */
#side-right .panel-default .panel-primary.main-panel {
    padding: 0;
    border-radius: 0;
}
#side-right .panel-default .panel-primary.main-panel .panel-heading {
    border-radius: 0;
}
#side-right .panel-default .info-pemesanan .panel-body {
    text-align: center;
}
#side-right .panel-default .info-pemesanan .panel-body .form-group {
    width: 20%;
    display: inline-block;
}
#side-right .panel-default .info-pemesanan .panel-body .form-group label {
    font-weight: normal;
    text-align: left !important;
}
#side-right .panel-default .info-pemesanan .panel-body .form-group input,
#side-right .panel-default .info-pemesanan .panel-body .form-group .input-group-addon,
#side-right .panel-default .info-pemesanan .panel-body .form-group select {
    text-align: center;
    border-radius: 0;
}
#side-right .panel-default .info-pemesanan .panel-body .form-group input {
    border-right: 0;
}
#side-right .panel-default .info-pemesanan .panel-body .form-group input:focus,
#side-right .panel-default .info-pemesanan .panel-body .form-group select:focus {
    outline: none;
    box-shadow: none;
    border-color: #ddd;
}
#side-right .panel-default .info-pemesanan .panel-body .form-group .input-group-addon {
    background: transparent;
    position: relative;
    right: 15px;
    z-index: 11;
}
#side-right .panel-default .info-pemesanan .panel-body .form-group.select-order select::-ms-expand {	
    display: none; 
}
#side-right .panel-default .info-pemesanan .panel-body .form-group.select-order select{
    -webkit-appearance: none;
    appearance: none;
    padding: 5px 10px;
}
#side-right .panel-default .info-pemesanan .panel-body .form-group.select-order {
    width: 12%;
    margin-right: 15px;
}
#side-right .panel-default .info-pemesanan .panel-body button.btn {
    padding: 5px 20px;
    border-radius: 0;
}

/* Tipe Kamar */
#side-right .panel-default .main-panel.tipe-kamar {
    padding: 10px 30px;
    border-top: none;
}
#side-right .panel-default .main-panel.tipe-kamar-title {
    border-bottom: none;
    padding: 10px 30px;
    padding-bottom: 0;
}
#side-right .panel-default .tipe-kamar .col-md-12,
#side-right .panel-default .tipe-kamar .col-md-6 {
    padding: 0;
}
#side-right .panel-default .tipe-kamar-title .head h3 {
    padding-bottom: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid #888;
}
#side-right .panel-default .tipe-kamar-title .head hr {
    width: 10%;
    float: right;
    margin: 0;
    bottom: 8px;
    position: relative;
    border-bottom: 7px solid #337ab7;
}
#side-right .panel-default .tipe-kamar .list-kamar ul li {
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
}
#side-right .panel-default .tipe-kamar .list-kamar ul li:last-child {
    border-bottom: none;
}
#side-right .panel-default .tipe-kamar .list-kamar ul li.view {
    width: 50%;
    border-bottom: none;
}
#side-right .panel-default .tipe-kamar .list-kamar ul li.short-desc {
    position: relative;
    bottom: 40px;
    width: 48%;
    padding: 0;
    padding-left: 10px;
    border: none;
    line-height: 1.5;
}
#side-right .panel-default .tipe-kamar .list-kamar ul li.short-desc h4 {
    font-size: 16px;
    margin: 0;
}
#side-right .panel-default .tipe-kamar .list-kamar ul li.short-desc p {
    font-size: 12px;
    margin: 0;
    margin-bottom: 10px;
}
#side-right .panel-default .tipe-kamar .list-kamar ul li.short-desc small {
    font-size: 12px;
}
#side-right .panel-default .tipe-kamar .list-kamar ul li.short-desc i.fa {
    width: 9%;
}
#side-right .panel-default .tipe-kamar .list-kamar ul li.short-desc i.fa.fa-cutlery {
    color: #888;
}
#side-right .panel-default .tipe-kamar .list-kamar ul li.short-desc i.fa.fa-wifi {
    color: #04a785;
}
#side-right .panel-default .tipe-kamar .list-kamar .col-md-3 p {
    font-size: 13px;
}
#side-right .panel-default .tipe-kamar .list-kamar .col-md-3 button {
    position: relative;
    top: 20px;
}

/* Collapse Detail Kamar */
#side-right .tipe-kamar .list-kamar .detail-kamar .panel-body,
#side-right .tipe-kamar .list-kamar .detail-kamar .panel-body .col-md-4 {
    padding: 0;
}
#side-right .tipe-kamar .list-kamar .detail-kamar .panel-heading {
    padding-left: 0;
}
#side-right .tipe-kamar .list-kamar .detail-kamar .collapse.in {
    border-top: 2px solid #ddd;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
}
#side-right .tipe-kamar .list-kamar .detail-kamar .col-md-8 ul {
    margin-bottom: 10px;
}
#side-right .tipe-kamar .list-kamar .detail-kamar .col-md-8 ul li {
    padding: 0;
    border-bottom: none;
}
#side-right .tipe-kamar .list-kamar .detail-kamar .col-md-8 ul li a {
    font-size: 12px;
    border-color: transparent;
}
#side-right .tipe-kamar .list-kamar .detail-kamar .col-md-8 ul li.active a, 
#side-right .tipe-kamar .list-kamar .detail-kamar .col-md-8 ul li.active a:focus, 
#side-right .tipe-kamar .list-kamar .detail-kamar .col-md-8 ul li.active a:hover {
    color: #28a1e6;
    border-bottom: 2px solid #28a1e6;
}
#side-right .tipe-kamar .list-kamar .detail-kamar .col-md-8 .tab-content .info {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
#side-right .tipe-kamar .list-kamar .detail-kamar .col-md-8 .tab-content .info:last-child {
    border-bottom: none;
}
#side-right .tipe-kamar .list-kamar .detail-kamar .col-md-8 .tab-content table {
    margin: 0;
}
#side-right .tipe-kamar .list-kamar .detail-kamar .col-md-8 .tab-content table tbody tr td {
    border-top: none;
}
#side-right .tipe-kamar .list-kamar .detail-kamar .col-md-8 .tab-content table tbody tr td i {
    color: #04a785;
}
#side-right .tipe-kamar .list-kamar .detail-kamar .col-md-8 .tab-content div.info table tbody tr td:first-child {
    text-align: center;
    width: 10px;
}
#side-right .tipe-kamar .list-kamar .detail-kamar .col-md-8 .tab-content div.info.list-info table tbody tr td {
    width: auto;
    text-align: left;
}
#side-right .tipe-kamar .list-kamar .detail-kamar .col-md-8 .tab-content div.info.list-info table {
    margin-left: 10px;
}
#side-right .tipe-kamar .list-kamar .detail-kamar .col-md-8 .tab-content div.info.list-info table tbody tr td::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #337ab7; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */ 
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */

}

/* Overview */
#side-right .panel-default .overview .panel-heading {
    padding: 0;
    border: none;
}
#side-right .panel-default .overview .panel-heading h4 {
    margin: 0;
    margin-left: 20px;
    padding: 15px;
    color: #222;
    background-color: #999;
}
#side-right .panel-default .overview .panel-body .col-md-2 ul .reward-badge img {
    padding: 10px 0;
    width: 55%;
    display: inline-block;
}
#side-right .panel-default .overview .panel-body .col-md-10 ul li {
    font-size: 14px;
    line-height: 2;
}
#side-right .panel-default .overview .panel-body .col-md-10 ul li .desc {
    width: 155px;
}
#side-right .panel-default .overview .main-panel {
    margin: 0 30px 20px;
    width: 80%;
    font-size: 14px;
}
#side-right .panel-default .overview .main-panel li:first-child {
    width: 75%;
}
#side-right .panel-default .overview .main-panel li button {
    border-radius: 0;
}

/* Ulasan Testimonial */
#side-right .panel-default .ulasan {
    border-bottom: none;
    padding: 10px 30px;
}
#side-right .panel-default .list-ulasan {
    border-top: none;
    padding: 0 20px;
}
#side-right .panel-default .ulasan .head {
    padding: 20px 10px 30px;
    border-bottom: 2px solid #ddd;
}
#side-right .panel-default .ulasan h4 {
    margin: 0;
}
#side-right .panel-default .ulasan hr {
    width: 10%;
    float: right;
    margin: 0;
    bottom: 8px;
    position: relative;
    border-bottom: 7px solid #337ab7;
}
#side-right .panel-default .list-ulasan ul li {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}
#side-right .panel-default .list-ulasan ul li:last-child {
    border-bottom: none;
}
#side-right .panel-default .list-ulasan div.col-md-3 img {
    width: 65%;
    margin-bottom: 10px;
    display: inline-block;
}
#side-right .panel-default .list-ulasan div.col-md-9 ul li {
    border-bottom: none;
    padding: 0;
}
#side-right .panel-default .list-ulasan div.col-md-9 ul li span {
    padding-right: 10px;
}
#side-right .panel-default .list-ulasan nav.text-center ul li a {
    font-weight: bold;
    margin-right: 10px;
    border-radius: 25%;
    border: none;
}
#side-right .panel-default .list-ulasan nav.text-center ul li.prev a,
#side-right .panel-default .list-ulasan nav.text-center ul li.next a {
    color: #fff;
    padding: 6px 20px;
    background-color: #337ab7;
    border-radius: 0;
}