* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Calibri", "Candara", "Segoe", "Segoe UI", "Optima", Arial, sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #ddd;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    color: #666;
    text-decoration: none;
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
    cursor: pointer;
}
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
}

/* ========= */
/* ====== Header CSS ====== */
.navbar-default {
    margin-bottom: 0;
    border: none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #f8f8f8;
}
header nav:first-child {
    min-height: 80px !important;
}
header nav:first-child ul.nav {
    display: none;
}
header nav a.navbar-brand {
    padding: 5px;
}
header nav a.navbar-brand img {
    width: 100% ;
    padding-left: 25px;
}
.navbar-default .navbar-nav>li>a {
    color: #282d33;
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}
header > nav > div > ul > li > ul {
    min-width: 115px !important;
}
header > nav > div > ul.nav.navbar-nav {
    padding: 15px;
}
header nav div div ul {
    padding-bottom: 15px;
}
header nav div div ul li a {
    color: #282d33;
    display: block;
    padding: 1px 15px;
    border-right: #999 solid 1px;
    position: relative;
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
}
header nav div div ul li:last-child a {
    border-right: none;
}
header nav div div  ul li a:before {
    content: "";
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
    border-bottom: #fd8524 solid 5px;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    margin: 0 auto;
}
header nav div div  ul li a:hover,
header nav div div  ul li a.active {
    text-decoration: none;
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
}
header nav div div  ul li a:hover:before,
header nav div div  ul li a.active:before {
    content: "";
    -webkit-transition: all ease-out 0.4s;
    -moz-transition: all ease-out 0.4s;
    -o-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
    border-bottom: #fd8524 solid 5px;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
}
#bs-example-navbar-collapse-1 > ul:nth-child(1) > li.dropdown.open > ul > li > a:before,
#bs-example-navbar-collapse-1 > ul:nth-child(1) > li.dropdown.open > ul > li > a:hover:before,
#bs-example-navbar-collapse-1 > ul:nth-child(1) > li.dropdown.open > ul > li > a.active:before {
    border: none;    
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background: #32a2e3;
    border-radius: 0;
}

.navbar-default > div > div.navbar-header > button.navbar-toggle > span.icon-bar {
    background: #fff;
    height: 4px;
    width: 30px;
    margin: 5px 0;
}
    
/* ========= */
/* ====== Main CSS ====== */
main {
    min-height: 300px
}

/* ========= */
/* ====== Sign Up CSS ====== */
.main_signup_area {
    background-image: url(../images/blur-cars-city-409701.jpg);
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    padding: 60px 0;
}
.main_signup_area .main_signup_content {
    
}
.main_signup_area .main_signup_content .box-signup div.left-side,
.main_signup_area .main_signup_content .box-signup div.right-side {
    padding: 30px 20px;
}
.main_signup_area .main_signup_content .box-signup {
    max-height: 500px;
}
.main_signup_area .main_signup_content .box-signup .left-side {
    background: #366b8eeb
}
.main_signup_area .main_signup_content .box-signup .right-side {
    background-color: #fff;
}

/* ========= */
/* ====== Footer CSS ====== */
footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}
footer ul li {
    padding: 5px 0px;
}
footer ul li a {
    color: #fff;
}
/* Foot Link */
footer .foot_link {
    display: inline-block;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 20px;
}
footer .foot_link h4 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}
footer .foot_link ul li img {
    max-height: 50px;
}
footer .foot_link ul.foot_contact li a i.fa {
    padding-right: 10px;
}

/* Foot Sosmed */
footer .foot_sosmed ul li {
    display: inline;
    margin: 5px;
}
footer .foot_sosmed ul li a {
    font-size: 30px;
    color: #666;
}
footer .foot_sosmed ul li:hover a {
    text-decoration: none;
    color: #fff;
}