* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    background-color: #ddd;
    color: #000;
}

.navbar-default {
    margin-bottom: 0;
    border: none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #f8f8f8;
}
header nav:first-child {
    min-height: 75px;
}
header nav a.navbar-brand {
    padding: 10px;
}
header nav a.navbar-brand img {
    width: 75%;
}
body > header > nav > div > ul > li > ul {
    min-width: 115px !important;
}
body > header > nav > div > ul.nav.navbar-nav {
    padding: 15px;
}