/* ========= */
/* ====== Payment CSS ====== */
main {
    background-color: #f2f2f2 !important;
}
.border-none {
    border: none !important;
}
input[type=checkbox], input[type=radio] {
    margin: 0;
    display: none;
}
.flip-clock-wrapper ul li a div div.inn {
    background-color: #00a4ff;
}

/* Main Payment Area */
.main_payment_area {
    padding: 40px 0;
}
.text-orange {
    color: #ff9600;
}
.text-blue {
    color: #00a3fe;
}

/* Side Left */
.main_content .side-left li .row {
    margin: 0;
    padding: 20px 15px;
}

/* Head */
.main_content .side-left ul li.list-group-item:first-child {
    border: none !important;
}
.main_content .side-left ul li.head h3 {
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
}
.main_content .side-left ul li.head hr {
    border-top: 7px solid #03A9F4;
    width: 60px;
    position: absolute;
    top: 22px;
    right: 15px;
}

/* Info Pembayaran */
.main_content .side-left li.info-pembayaran {
    padding: 20px 30px;
}
.main_content .side-left li.info-pembayaran ol {
    padding-left: 30px;
}
.main_content .side-left li.info-pembayaran li {
    line-height: 2;
    font-size: 14px;
}
.main_content .side-left li.info-pembayaran .tf-pembayaran {
    padding-bottom: 20px;
    border-bottom: 2px solid #888;
}
.main_content .side-left li.info-pembayaran .pembayaran-atm {
    padding: 30px 0;
}

/* Ganti Pembayaran Button */
.main_content .side-left li.button-ganti button {
    background-color: orange;
    border-radius: 0;
    font-weight: bold;
}

/* footer side left */
.main_content .side-left li.footer i {
    color: green;
    font-size: 20px;
}
.main_content .side-left li.footer img {
    width: 20%;
}

/* Side Right */
.main_payment_area div div div.main_content div div.panel {
    border-color: transparent;
}
.main_payment_area div div div.main_content div div.panel .panel-heading {
    border-radius: 0;
    background-color: #00a3fe;
    border-color: #00a3fe;
}
.main_payment_area div div div.main_content div div.panel .panel-heading h3 {
    font-weight: bold;

}
.main_payment_area .side-right .rincian-biaya .panel-body img {
    width: 60%;
}
.main_payment_area .side-right .rincian-biaya .panel-body p:nth-child(3) {
    margin: 0;
}
.main_payment_area .side-right .rincian-penerbangan .panel-body p.head {
    margin: 0;
}
.main_payment_area .side-right .rincian-penerbangan .panel-body p:nth-child(2) {
    font-size: 14px;
}
.main_payment_area .side-right .panel.panel-primary .panel-body span,
.main_payment_area .side-right .panel.panel-primary .panel-body ul li{
    font-size: 14px;
}
.main_payment_area .side-right .panel.panel-primary hr {
    margin-top: 10px; margin-bottom: 10px;
    width: 75%;
    border-color: #888;
}
.main_payment_area .side-right .panel .panel-body .take-off.row {
    margin: 0;
}
.main_payment_area .side-right .panel .panel-body .take-off ul.col-md-12::before{
    margin-left: 50%;
    height: 70%;
    width: 2px;
    content: " ";
    background-color: #4CAF50;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
.main_payment_area .side-right .panel .panel-body .take-off ul.col-md-12 li:first-child ul li:first-child::before {
    margin-left: 46%;
    width: 20px;height: 20px;
    content: " ";
    background-color: #fff;
    border: 1px solid #4CAF50;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
.main_payment_area .side-right .panel .panel-body .take-off ul.col-md-12 li:last-child ul li:first-child::before {
    margin-left: 46%;
    width: 20px;height: 20px;
    content: " ";
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 50%;
    left: 0;
    right: 0;
    bottom: 20%;
    position: absolute;
}
.main_payment_area .side-right .panel .panel-body .col-md-12 {
    padding-bottom: 20px;
}