/* ========= */
/* ====== Hotel CSS ====== */
body {
    background-color: #fff !important;
}
section {
    padding: 30px 0 40px;
}
hr {
    margin-top: 5px;margin-bottom: 5px;
    border-top: 1px solid #ddd;

}
.text-orange { color: #ff9600; }
.text-blue { color: #00a3fe; }
.text-red { color: red; }
.list-group-item {
    border: none;
}
.side-left .col-md-2,
.side-mid .col-md-7,
.side-right .col-md-3 {
    padding: 0;
}
/* Search Box */
#search-box {
    background-color: #28a1e6;
    padding: 20px 0;
    font-size: 12px;
    color: #fff;
}
#search-box ul.list-inline {
    text-align: center;
}
#search-box .main_content ul li div.form-group label {
    text-align: left !important;
}
#search-box .main_content ul li div.form-inline .input-group-addon {
    width: 1%;
    border: none;
    background-color: transparent;
    position: absolute;
}
#search-box .main_content ul li div.form-inline .input-group-addon i {
    font-size: 20px;
}
#search-box .main_content ul li div.form-inline input {
    padding: 6px 12px;
}
#search-box .main_content ul li:first-child div.form-inline input {
    padding-left: 30px;
}
#search-box div.main_content ul li div.form-group i.fa.fa-calendar {
    font-size: 25px;
    position: relative;
    top: 5px;
}
#search-box .main_content ul li button {
    color: #fff;
    background-color: #ff9600;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 0;
}

/* Side Left */
.side-left div ul {
    border-right: 1px solid #888;
}
.side-left div ul li div div.row {
    margin: 0;
}
.side-left .name-hotel div.form-group {
    margin: 0;
}
.side-left .nama-hotel input {
    border-radius: 0;
}
.side-left .hotel-star label, 
.side-left .hotel-fasilitas label,
.side-left .hotel-lokasi label {
    font-weight: normal;
}
.side-left .hotel-star label,
.side-left .hotel-fasilitas label,
.side-left .hotel-lokasi label {
    display: block;
}

/* Side Mid */
.side-mid ul.list-group:nth-child(2) hr {
    width: 95%;
}
.side-mid ul.list-group:first-child {
    margin: 0;
}
.side-mid .head-title h3 {
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #888;
}
.side-mid .head-title hr {
    border-top: 5px solid #03A9F4;
    width: 50px;
    position: absolute;
    right: 15px;
    bottom: 5px
}
.side-mid .category-hotel ul {
    padding-bottom: 10px;
}
.side-mid .list-hotel li ul li.pitc {
    width: 40%;
}
.side-mid .list-hotel li ul li.detail ul.list-unstyled:first-child {
    border-right: 1px solid #ddd;
    padding-right: 20px;
    min-width: 240px;
    bottom: 7px;
    position: relative;
}
.side-mid .list-hotel li ul li i.fa.fa-star {
    color: #ff9600;
}
.side-mid .list-hotel li ul li.detail ul li small i {
    color: #1eb18d;
    width: 15px;
    padding-right: 10px;
}
.side-mid .list-hotel li ul li.price {
    position: absolute;
    top: 10px;
}
.side-mid .list-hotel li ul li.price h3 {
    margin: 5px 0 15px;
}
.side-mid .list-hotel li ul li.price button {
    font-weight: bold;
    width: 100%;
    border-radius: 0;
    color: #fff;
    background-color: orange;
}

/* Side Right */
.side-right table.table-bordered tbody tr td {
    border: 3px solid blue;
}
.side-right table.table-bordered tbody tr:first-child td {
    padding: 0;
}
.side-right table.table-bordered tbody tr:first-child td p {
    margin: 0;
}
.side-right table.table-bordered tbody tr td ul li:nth-child(5) {
    padding-top: 20px;
    padding-bottom: 10px;
}
.side-right table.table-bordered tbody tr td button {
    font-weight: bold;
    color: #fff;
    background-color: orange;
    border-radius: 0;
}