/* ========= */
/* ====== ppob CSS ====== */
section {
    padding: 30px 0 40px;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[name=area-choice]::-webkit-inner-spin-button, input[name=area-choice]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
h3,h4 {
    color: #555;
    font-weight: bold;
}
hr {
    border-bottom: 1px solid #ababab;
}
.text-blue { color:#28a1e6; }
.text-orange { color: #f69336 }
.bg-blue { background-color:#28a1e6 !important; color: #fff !important;}


/* Navigation Tabs */
div.main_ppob_area {
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,160,255,0)),to(#1a2aa4)));
    background-image: linear-gradient(-180deg,rgba(0,160,255,0),#1a2aa4);
}
.main_ppob_area .main_ppob_content .well .body-form ul.nav {
    text-align: center;
}
.main_ppob_area .main_ppob_content .well .body-form ul.nav li {
    float: none;
    display: inline-block;
}

/* Modal Payments */
.main_ppob_content .well div.tab-content div.modal-header h3 {
    color: #259cef;
}
.main_ppob_content .well div.tab-content div.modal-footer button {
    border-radius: 0;
    padding: 6px 25px;
}
.main_ppob_content .well div.tab-content div.modal-body .form-body .form-group {
    margin: 0;
}
.main_ppob_content .well div.tab-content div.modal-body .form-body .form-group label {
    text-align: left;
}
.main_ppob_content .well div.tab-content div.modal-body .form-body .form-group label:before {
    content: ":";
    right: 0; 
    color: #111;
    position: absolute;
}
.main_ppob_content .well div.tab-content div.modal-body p {
    margin: 7px;
}

.main_ppob_area .main_ppob_content .well {
    margin: 30px 0;
    padding: 30px;
    border-radius: 0;
    background-color: #fff;
}
.main_ppob_content .well div.body-form ul.nav.nav-tabs li a {
    padding: 0 15px;
}
.main_ppob_content .well .body-form div.tab-content {
    padding-top: 15px;
}.main_ppob_content .well .body-form ul.nav-tabs {
    border-bottom: 1px solid #ababab;
}
.main_ppob_content .well .body-form ul.nav-tabs li a,
.main_ppob_content .well .body-form ul.nav-tabs>li.active>a,
.main_ppob_content .well .body-form ul.nav-tabs>li.active>a:focus,
.main_ppob_content .well .body-form ul.nav-tabs>li.active>a:hover {
    color: #259cef;
    background-color: transparent;
    border: none;
}
.main_ppob_content .well .body-form ul.nav-tabs>li.active>a,
.main_ppob_content .well .body-form ul.nav-tabs>li.active>a:focus,
.main_ppob_content .well .body-form ul.nav-tabs>li.active>a:hover {
    border-bottom: 5px solid #259cef !important;
}

/* =========== PLN TAB =========== */
.main_ppob_content .well .tab-content div#pln div.nav.nav-tabs,
.main_ppob_content .well .tab-content div#telkom div.nav.nav-tabs,
.main_ppob_content .well .tab-content div#topup div.nav.nav-tabs {
    border: none;
}
/* No Meter */
.main_ppob_content .well .tab-content div#pln div input.form-control,
.main_ppob_content .well .tab-content div#telkom div input.form-control,
.main_ppob_content .well .tab-content div#pdam div input.form-control,
.main_ppob_content .well .tab-content div#tvberbayar div input.form-control,
.main_ppob_content .well .tab-content div#tagihankredit div input.form-control,
.main_ppob_content .well .tab-content div#vouchergame div input.form-control,
.main_ppob_content .well .tab-content div#topup div input.form-control {
    font-size: 16px;
    padding: 20px;
    width: 100%;
    border-radius: 0;
}

/* Nominal */
.main_ppob_content .well .tab-content div#pln div#tokenlistrik div.option label,
.main_ppob_content .well .tab-content div#vouchergame div.option label,
.main_ppob_content .well .tab-content div#topup div.option label {
    outline: none;
    width: 15%;
    padding: 15px 35px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #444;
    line-height: 1;
    border-radius: 20px;
    border-color: #888;
    background-color: #fff;
}
.main_ppob_content .well .tab-content div#pln div#tokenlistrik div.option label:hover,
.main_ppob_content .well .tab-content div#pln div#tokenlistrik div.option label:focus,
.main_ppob_content .well .tab-content div#pln div#tokenlistrik div.option label.active,
.main_ppob_content .well .tab-content div#pln div#tokenlistrik div.option label:active,
.main_ppob_content .well .tab-content div#vouchergame div.option label:hover,
.main_ppob_content .well .tab-content div#vouchergame div.option label:focus,
.main_ppob_content .well .tab-content div#vouchergame div.option label.active,
.main_ppob_content .well .tab-content div#vouchergame div.option label:active,
.main_ppob_content .well .tab-content div#topup div.option label:hover,
.main_ppob_content .well .tab-content div#topup div.option label:focus,
.main_ppob_content .well .tab-content div#topup div.option label:active,
.main_ppob_content .well .tab-content div#topup div.option label.active {
    color: #fff;
    box-shadow: none;
    border-color: #ff9600;
    background-color: #ff9600 !important;
    transition: all 0.3s ease-in-out;
}

/* Info */
.main_ppob_content .well div.tab-content .bg-info {
    padding: 20px 30px;
    background-color: #c1fffe;
}
.main_ppob_content .well div.tab-content .bg-info h4 {
    color: green;
}

/* Harga */
.main_ppob_content .well div.tab-content button.btn.btn-warning.pull-right {
    background-color: #ff9600;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 30px;
    border-radius: 0;
    bottom: 20px;
    position: relative;
}
.main_ppob_content .well div.tab-content button.btn.btn-warning.pull-right:active,
.main_ppob_content .well div.tab-content button.btn.btn-warning.pull-right:focus {
    outline: none;
}

/* Slider Image */
#slider-image {
    padding: 0;
}
#slider-image .owl-theme .owl-nav.disabled + .owl-dots {
    position: absolute;
    right: 0; left: 0; bottom: 10px
}
#slider-image .owl-theme .owl-dots .owl-dot span {
    width: 15px;height: 15px;
}

/* Tujuan Wisata */
#tujuan-wisata {
    font-weight: bold;
    background-color: #d4ebf9;
}
#tujuan-wisata h3 {
    font-weight: bold;
    padding-left: 50px;
    padding-bottom: 30px;
}
#tujuan-wisata .main_content .tujuan-body div div {
    padding-bottom: 40px;
}
#tujuan-wisata .main_content .tujuan-body img {
    width: 80%;
    display: inline-block;
}

/* Download Aplikasi */
#download-aplikasi {
    background-color: #fff;
    color: #222;
}
#download-aplikasi h3 {
    font-weight: bold;
    padding-left: 50px;
    padding-bottom: 30px
}
/* Side Left */
#download-aplikasi .download-body img {
    width: 80%;
    display: inline-block
}
#download-aplikasi .download-body .side-left p {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 40px;
}
#download-aplikasi .download-body .side-left ul li img {
    width: 100%;
}
#download-aplikasi .download-body .side-left ul li:first-child {
    padding-bottom: 20px;
}
/* Side Right */
#download-aplikasi .download-body .side-right img {
    position: relative;
    bottom: 13px;
    width: 50%;
}
#download-aplikasi .download-body .side-right ul li div.input-group-addon {
    background-color: transparent;
    border-right: none !important;
}
#download-aplikasi .download-body .side-right ul li input {
    border-left: none;
}
#download-aplikasi .download-body .side-right ul li input:visited,
#download-aplikasi .download-body .side-right ul li input:focus,
#download-aplikasi .download-body .side-right ul li input.active,
#download-aplikasi .download-body .side-right ul li input:active {
    outline: none;
    border-color: #ccc;
    box-shadow: none;
}
#download-aplikasi .download-body .side-right ul li:first-child {
    padding-bottom: 20px;
}
#download-aplikasi .download-body .side-right ul li input {
    padding: 19px 10px;
    padding-right: 0;
    border-radius: 0;
}
#download-aplikasi .download-body .side-right ul li:first-child button {
    padding: 8px 18px;
}
#download-aplikasi .download-body .side-right ul li button {
    color: #fff;
    background-color: #ff9600;
    font-size: 16px;
    padding: 8px 22px;
    border-radius: 0;
}


/* Alasan Membeli */
#alasan-pembelian {
    background-color: #28a1e6;
    color: #fff;
}
#alasan-pembelian h3 {
    color: #fff;
    font-weight: bold;
    padding-left: 50px;
    padding-bottom: 30px
}
#alasan-pembelian .main_content .cara-body {
    padding: 0 30px;
    text-align: center;
}
#alasan-pembelian .main_content .cara-body div {
    padding: 0 30px;
}
#alasan-pembelian img {
    width: 40%;
    padding-bottom: 20px;
    display: inline-block;
}
#alasan-pembelian .main_content .cara-body div:nth-child(2) img {
    width: 45%;
}
#alasan-pembelian .main_content .cara-body div p {
    text-align: left;
    font-weight: 100;
}


/* Partner Centraloka.com */
#partner {
    font-weight: bold;
    color: #222;
    background-color: #fff;
}
#partner h3 {
    font-weight: bold;
}
#partner ul li {
    width: 13%;
}
#partner ul li img {
    width: 85%;
}
#partner ul li:nth-child(5),
#partner ul li:nth-child(6) {
    width: 10%
}
#partner ul li:last-child {
    width: 10%;
}  
#partner button {
    background-color: #ff9600;
    font-size: 16px;
    padding: 8px 26px;
    border-radius: 0;
    margin-bottom: 15px;
}

/* Cara Pemesanan */
#cara-pemesanan {
    font-weight: bold;
    color: #222;
    background-color: #d4ebf9;
}
#cara-pemesanan h3 {
    font-weight: bold;
    padding-left: 50px;
    padding-bottom: 30px;
}
#cara-pemesanan .main_content .cara-body {
    text-align: center;
}
#cara-pemesanan img {
    width: 40%;
    padding-bottom: 20px;
    display: inline-block;
}
#cara-pemesanan .main_content .cara-body div:nth-child(2) img {
    width: 29%;
}
#cara-pemesanan .main_content ul li {
    font-weight: bold;
    font-size: 20px;
}
#cara-pemesanan .main_content ul li:first-child span {
    color: #fff;
    padding: 3px 8px;
    border-radius: 50%;
    background-color: #ffb833;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 800px;
        margin: 30px auto;
    }
    .dl-horizontal dd {
        margin-left: 240px;
    }
}