/* ========= */
/* ====== Profil CSS ====== */
.main_profil_area {
    margin: 40px 0;
}
.main_profil_area .main_profil_content div div.well {
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    border: 2px solid #d0d0d0;
}
.main_profil_area .main_profil_content .nav-pills>li.active>a,
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover,
.main_profil_area .main_profil_content .nav>li>a:focus,
.nav>li>a:hover {
    color: #239ce7;
    background-color: transparent;
}

.main_profil_area .main_profil_content .nav li a i {
    color: #4ac3a7;
    font-size: 25px;
    padding-right: 10px;
}
.main_profil_area .main_profil_content .body-content .well .tab-content {
    padding: 0 40px;
}
.main_profil_area .main_profil_content .well .profil-content h3 {
    color: #259cef;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid #d0d0d0;
}
.main_profil_content .well .profil-content hr {
    background: #259cef;
    width: 50px;
    height: 5px;
    margin: 0;
    top: -16px;
    float: right;
    position: relative;
}
.main_profil_content .profil-content .media {
    padding: 20px 0;
}
.main_profil_content .profil-content .media .media-object {
    width: 100px;
    margin-right: 25px;
}
.main_profil_content .profil-content .media .media-body .media-heading {
    font-size: 25px;
    padding-bottom: 10px;
}
.main_profil_content .profil-content button.btn {
    font-weight: bold;
    font-size: 18px;
    padding: 5px 30px;
    float: right;
    border-radius: 0;
    top: -35px;
    position: relative;
}
.main_profil_content div#pesanan div.pesanan-content div.tab-content {
    padding-top: 20px    
}
.main_profil_content div#pesanan div.pesanan-content ul {
    border-bottom: 1px solid #ddd;
}
.main_profil_content div#pesanan div.pesanan-content .nav-tabs.nav-justified li a {
    border: none;
}
.nav-tabs.nav-justified>.active>a {
    font-weight: bold;
    color: #03a9f4;
    border-bottom: 3px solid #03a9f4 !important;
}
.main_profil_content .pesanan-content #pesanan-aktif > div > img {
    margin: 10px 0 20px;
    width: 30%;
    display: inline-block;
}

/* Responsive Profil */
@media (max-width: 991px) {
    body > main > div > div > div > div > div.visible-xs.visible-sm.mb-10 {
        margin-bottom: 20px;
    }
}
@media (max-width: 785px) {
    .main_profil_content .profil-content .media {
        width: 100%;
        padding: 20px 0;
    }
    .main_profil_area .main_profil_content .body-content .well .tab-content {
        padding: 0;
    }
}
@media (max-width: 439px) {
    .main_profil_content .profil-content .media .media-left {
        display: inline-block;
        padding-bottom: 20px;
    }
}