/* ========= */
/* ====== Pulsa CSS ====== */
main {
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,160,255,0)),to(#1a2aa4)));
    background-image: linear-gradient(-180deg,rgba(0,160,255,0),#1a2aa4);
}
h4 {
    color: #555;
    font-weight: bold;
}
hr {
    border-bottom: 1px solid #ababab;
}
.main_pulsa_area .main_pulsa_content .well {
    margin: 30px 0;
    padding: 30px;
    border-radius: 0;
    background-color: #fff;
}
.main_pulsa_content .well div.body-form ul.nav.nav-tabs li a {
    padding: 0 15px;
}
.main_pulsa_content .well .body-form div.tab-content {
    padding-top: 15px;
}
/* Nomor Telp */
.main_pulsa_content .well .tab-content .number-phone {
    margin-bottom: 20px;
}
.main_pulsa_content .well .tab-content .number-phone input.form-control {
    font-size: 18px;
    padding: 25px;
    width: 100%;
    border-radius: 0;
}
.main_pulsa_content .well .body-form div.tab-content div.tab-pane .number-phone label {
    background-color: transparent;
    width: 20%;
    position: absolute;
    margin: 0; padding: 0;
}
.main_pulsa_content .well .body-form div.tab-content div.tab-pane .number-phone label img {
    padding: 10px;
    position: absolute;
    right: 0;

}


/* Nominal */
.main_pulsa_content .well .body-form ul.nav-tabs {
    border-bottom: 1px solid #ababab;
}
.main_pulsa_content .well .body-form ul.nav-tabs li a,
.main_pulsa_content .well .body-form ul.nav-tabs>li.active>a,
.main_pulsa_content .well .body-form ul.nav-tabs>li.active>a:focus,
.main_pulsa_content .well .body-form ul.nav-tabs>li.active>a:hover {
    color: #259cef;
    background-color: transparent;
    border: none;
}
.main_pulsa_content .well .body-form ul.nav-tabs>li.active>a,
.main_pulsa_content .well .body-form ul.nav-tabs>li.active>a:focus,
.main_pulsa_content .well .body-form ul.nav-tabs>li.active>a:hover {
    border-bottom: 5px solid #259cef !important;
}
.main_pulsa_content .well .body-form div.tab-content .option {
    text-align: left;
}
.main_pulsa_content .well .body-form div.tab-content div.tab-pane label div {
    top: 3px;
    position: relative;
}
.main_pulsa_content .well .body-form div.tab-content div#paketdata .option label {
    padding: 10px 30px;
}
.main_pulsa_content .well .body-form div.tab-content div#paketdata label div {
    position: static;
} 
.main_pulsa_content .well .body-form div.tab-content div.tab-pane label {
    outline: none;
    width: 15%;
    padding: 2px 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #444;
    line-height: 1;
    border-radius: 20px;
    border-color: #888;
    background-color: #fff;
}
.main_pulsa_content .well .body-form div.tab-content div.tab-pane div.option label:hover,
.main_pulsa_content .well .body-form div.tab-content div.tab-pane div.option label:active,
.main_pulsa_content .well .body-form div.tab-content div.tab-pane div.option label.active,
.main_pulsa_content .well .body-form div.tab-content div.tab-pane div.option label:focus {
    color: #fff;
    box-shadow: none;
    border-color: #ff9600;
    background-color: #ff9600 !important;
    transition: all 0.3s ease-in-out;
}

/* Info */
.main_pulsa_content .well div.tab-content .bg-info {
    padding: 20px 30px;
}
.main_pulsa_content .well div.tab-content .bg-info h4,
.main_pulsa_content .well div.tab-content .bg-info span {
    color: #309cdb;
}

/* Harga */
.main_pulsa_content .well div.tab-content button.btn.btn-warning.pull-right {
    background-color: #ff9600;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 30px;
    border-radius: 0;
    bottom: 20px;
    position: relative;
}
.main_pulsa_content .well div.tab-content button.btn.btn-warning.pull-right:active,
.main_pulsa_content .well div.tab-content button.btn.btn-warning.pull-right:focus {
    outline: none;
}

/* Responsive CSS */
@media (max-width: 425px) {
    .main_pulsa_content .well .tab-content .number-phone input.form-control {
        width: 100%;
    }
}