/* Tablet & Smartphone */
@media (max-width: 575.98px) {
    /* Navbar */
    header nav a.navbar-brand {
        padding: 15px 15px;
    }
    header nav a.navbar-brand img {
        width: 65%;
    }

    header nav div div ul li a:before,
    header nav div div  ul li a:hover:before,
    header nav div div  ul li a.active:before {
        bottom: 0;
    }
}

/* Desktop & Bigger */ 
@media (min-width: 1199px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 18px;
    }
}